body{

background:#050505;

color:#00ffff;

font-family:Arial;

text-align:center;

}



h1{

text-shadow:
0 0 20px cyan;

}



.grid{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}



.card{

background:#111;

border:1px solid cyan;

box-shadow:
0 0 20px cyan;

padding:25px;

width:200px;

border-radius:15px;

}



.card p{

font-size:35px;

}



button{

margin:30px;

padding:15px 30px;

background:black;

color:#00ffff;

border:1px solid cyan;

border-radius:10px;

font-size:18px;

}



canvas{

background:#111;

margin:20px;

border-radius:15px;

}
